// ----------------------------------
// UI Settings
// Colours
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --link-colour: var(--color-grey-80);
  --link-colour-active: var(--color-grey-80);
  --link-colour-disabled: var(--color-grey-40);
  --link-colour-hover: var(--color-grey-80);

  --link-colour-focus-outline: var(--color-blue-50);

  --body-text-colour: var(--color-grey-80);
  --meta-text-colour: var(--color-grey-60);
}
