// ----------------------------------
// UI Tools
// Mixins
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

/**
 * Hide content visually (for screen-readers)
 *
 * Usage:
 *
 * .selector {
 *   @include visually-hidden;
 * }
 *
 */

@mixin visually-hidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Hide checkboxes, radio buttons and any other interactive form elements
 * that we may want to restyle, including file inputs.
 *
 * These elements must be discoverable by all screen reader users, particularly those navigating by touch,
 * and Dragon users using standard voice commands, such as “Click button”.
 * Dragon is a speech recognition software.
 *
 * @see {@link https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/}
 *
 * Usage:
 *
 * .selector {
 *   @include visually-hidden-input($top: 0.25rem);
 * }
 *
 */
// $size: 1.125rem, which is 18px (2px bigger than checkbox/radio sizes)
@mixin visually-hidden-input($top: 0.25rem, $size: 1.125rem) {
  cursor: pointer;
  height: $size;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: $top;
  width: $size;
  z-index: 1;

  &:disabled {
    cursor: default;
  }
}
