.circleci
.idea
config
coverage
src
storybook-static

.editorconfig
.eslintignore
.eslintrc.js
.nvmrc
.prettierignore
.prettierrc
.stylelintrc.json
*.txt
babel.config.js
*.code-workspace
jest.config.js
tsconfig.json
typings.d.ts
