// ----------------------------------
// UI Components
// Quote
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-quote {
  border-left: 3px solid var(--colour-amber-30);
  line-height: var(--body-line-height);
  margin: 0 0 0 var(--space-lg);
  padding-left: var(--space-lg);
}

.cc-quote__body {
  font-style: italic;
  margin-bottom: calc(4 * var(--space-unit));

  p {
    @extend %body-regular;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.cc-quote__body--short-quote {
  font-size: var(--body-lg);
}

.cc-quote__author {
  .cc-person__heading,
  .cc-person__link {
    font-size: var(--body-sm);
  }
}

.cc-quote__cite {
  color: var(--meta-text-colour);
  display: block;
  font-style: normal;
}
