// ----------------------------------
// UI Components
// Author
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-author {
  margin-bottom: var(--space-lg);

  @include mq($until: md) {
    display: flex;
  }
}

.cc-author__image {
  --image-size: calc(10 * var(--space-unit));

  @extend %img-cover;

  border-radius: 50%;
  flex-shrink: 0;
  height: var(--image-size);
  margin-left: 0;
  margin-right: var(--space-lg);
  overflow: hidden;
  width: var(--image-size);

  @include mq(md) {
    margin-bottom: calc(1.5 * var(--space-unit));
    margin-right: 0;
  }
}

.cc-author__name,
.cc-author__byline,
.cc-author__links {
  @extend %margin-0;

  font-family: var(--font-primary);
  font-size: var(--body-md);
  line-height: var(--body-line-height);
}

.cc-author__name {
  font-weight: var(--heading-font-weight);
}

.cc-author__links {
  @extend %list-clean;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--space-unit);
}

.cc-author__link-item {
  margin-bottom: var(--space-unit);
  margin-right: calc(2 * var(--space-unit));
}

.cc-author__link {
  @include animated-link;
}

// variant: horizontal

.cc-author--horizontal {
  display: flex;

  .cc-author__image {
    margin: 0 var(--space-lg) 0 0;
  }
}
