// ----------------------------------
// UI Components
// PeopleList
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-people-list {
  @extend %list-clean;
}

.cc-people-list--grid {
  @include mq(sm) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.cc-people-list__item {
  margin-bottom: calc(4 * var(--space-unit));
}

.cc-people-list__item--grid {
  @include mq(sm) {
    width: 50%;
  }
}
