// ----------------------------------
// UI Components
// Person
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --person-image-size-small: calc(10 * var(--space-unit)); // 80px
  --person-image-size-responsive: var(--person-image-size-small);

  @include mq(sm) {
    --person-image-size-responsive: calc(12.5 * var(--space-unit)); // 100px
  }

  @include mq(md) {
    --person-image-size-responsive: calc(16 * var(--space-unit)); // 128px
  }

  @include mq(xl) {
    --person-image-size-responsive: calc(20 * var(--space-unit)); // 160px
  }
}

.cc-person {
  @include mq(sm) {
    display: flex;
  }
}

.cc-person__image {
  @extend %img-responsive;

  background-color: var(--color-amber-05);
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--person-image-size-responsive);
  margin: 0 0 var(--space-md) 0;
  overflow: hidden;
  width: var(--person-image-size-responsive);

  @include mq(sm) {
    margin-bottom: 0;
    margin-right: calc(6 * var(--space-unit));
  }
}

.cc-person__header {
  @include heading-fancy;
  margin-bottom: var(--space-md);
}

.cc-person__heading {
  @extend %heading-base;
  @extend %heading-large;

  margin-bottom: 0;
}

.cc-person__subheading {
  font-weight: normal;
}

.cc-person__body {
  line-height: var(--body-line-height);
}

.cc-person__description {
  margin-bottom: var(--space-md);
}

.cc-person__links {
  @extend %list-clean;
  display: flex;
  flex-wrap: wrap;
}

.cc-person__link-item {
  margin-bottom: calc(2 * var(--space-unit));
  margin-right: calc(2 * var(--space-unit));

  @include mq(md) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.cc-person__link {
  @include animated-link;
}

// variant: AUTHOR

.cc-person--author {
  background-color: var(--color-amber-10);
  padding: var(--space-lg);
}

.cc-person__image--author {
  height: var(--person-image-size-small);
  width: var(--person-image-size-small);

  @include mq(sm) {
    margin-right: var(--space-lg);
  }
}

.cc-person--author .cc-person__heading {
  font-size: var(--heading-xs);
}

.cc-person--author .cc-person__description,
.cc-person--author .cc-person__link {
  font-size: var(--body-sm);
}

// variant: NARROW

.cc-person__image--narrow {
  @include mq($from: md, $until: xl) {
    position: absolute;
  }
}

.cc-person__header--narrow {
  @include mq($from: md, $until: xl) {
    margin-left: calc(var(--person-image-size-responsive) + calc(6 * var(--space-unit)));
    min-height: var(--person-image-size-responsive);
  }
}

// variant: COMPACT
.cc-person--compact {
  display: flex;
}

.cc-person__image--compact {
  height: var(--person-image-size-small);
  margin-right: var(--space-lg);
  width: var(--person-image-size-small);
}

.cc-person--compact .cc-person__heading {
  font-size: var(--heading-sm);
}

.cc-person--compact .cc-person__link {
  font-size: var(--body-md);
}

.cc-person--compact .cc-person__header:after {
  content: none;
}
