// ----------------------------------
// UI Components
// Media (in-page Image and Video)
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

.cc-media {
  @extend %grid;
  @include grid-container;

  margin-bottom: 0;
  margin-top: 0;
}

.cc-media__element {
  @extend %img-responsive;
  @include grid-column(1, 7);

  @include mq(sm) {
    @include grid-column(2, 12);
  }

  @include mq(md) {
    @include grid-column(4, 10);
  }
}

.cc-media__caption {
  align-self: start;
  margin-top: calc(2 * var(--space-unit));

  a {
    @include animated-link;
  }
}

.cc-media--caption-below-image {
  @include grid-column(1, 7);

  @include mq(sm) {
    @include grid-column(2, 12);
  }

  @include mq(md) {
    @include grid-column(4, 10);
  }
}

.cc-media--caption-beside-image {
  @include grid-column(1, 7);

  @include mq(sm) {
    @include grid-column(2, 12);
  }

  @include mq(md) {
    @include grid-column(10, 13);
    margin-top: 0;
    position: relative;
  }
}

.cc-media__caption-content {
  border-left: 1px solid var(--color-grey-70);
  color: var(--color-grey-70);
  font-size: var(--body-xxs);
  line-height: var(--body-line-height);
  padding: calc(0.25 * var(--space-unit)) 0 calc(0.25 * var(--space-unit)) calc(2 * var(--space-unit));
}

.cc-media--caption-beside-image .cc-media__caption-content {
  @include mq(md) {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.cc-media__image .cc-media__caption:before,
.cc-media__video .cc-media__caption:before {
  content: 'Above';

  // caption is moved to right hand side of media
  @include mq(md) {
    content: 'Left';
  }
}

.cc-media__caption-detail {
  display: block;
  font-family: var(--font-tertiary);
  font-weight: bold;

  // WYSIWYG editor text
  > p {
    display: inline;
  }
}

.cc-media__credit,
.cc-media__licence {
  display: block;
  font-family: var(--font-tertiary);
  -webkit-font-smoothing: auto;

  // WYSIWYG editor text
  > p {
    display: inline;
  }
}
