.cc-read-time {
  color: var(--color-text-meta);
  font-size: var(--body-sm);
}

.cc-read-time__time {
  margin-left: var(--space-unit);

  &:before {
    color: var(--color-amber-30);
    content: '/';
    margin-right: var(--space-unit);
  }
}
