// ----------------------------------
// UI Components
// RadioInput
// ----------------------------------
// Design System 1.0 Alpha
// 2019-11-11
// ----------------------------------

:root {
  --checkbox-radio-size: calc(2 * var(--space-unit));
}

// Hide the <input /> element
.cc-radio-input__input-element {
  @include visually-hidden-input;
}

.cc-radio-input {
  position: relative;
}

.cc-radio-input__label {
  --radio-inner-width: calc(0.75 * var(--space-unit));

  cursor: pointer;
  padding-left: calc(var(--checkbox-radio-size) + var(--space-md));
  position: relative;

  &:after,
  &:before {
    @include middle(y, absolute);

    background-color: var(--color-white);
    border: 1px solid var(--color-grey-60);
    border-radius: 50%;
    content: '';
    height: var(--checkbox-radio-size);
    left: 0;
    width: var(--checkbox-radio-size);
  }

  &:after {
    box-shadow: inset 0 0 0 0;
    height: var(--radio-inner-width);
    left: calc((var(--checkbox-radio-size) - var(--radio-inner-width)) / 2);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
    width: var(--radio-inner-width);
  }

  // Checked Radio
  .cc-radio-input__input-element:checked ~ &:after,
  .cc-radio-input__input-element:checked ~ &:before {
    border-color: transparent;
  }

  .cc-radio-input__input-element:checked ~ &:before {
    background-color: var(--color-blue-60);

    /**
     * The background is removed in Windows High Contrast mode, so we
     * need to set it explicitly. `WindowText` is a system color
     * that should work with whatever high contrast mode the user has set.
     *
     *  @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/@media/forced-colors}
     */
    @media (-ms-high-contrast: active), (forced-colors: active) {
      background-color: WindowText;
    }
  }

  .cc-radio-input__input-element:checked ~ &:after {
    opacity: 1;
  }

  // Hovered/Focused Radio
  &:not(:disabled):hover:before,
  .cc-radio-input__input-element:not(:disabled):focus ~ &:before {
    border-color: var(--color-blue-60);
  }

  /**
   * @see focus-visible: https://css-tricks.com/focus-visible-and-backwards-compatibility/
   */
  // Focused radio
  .cc-radio-input__input-element:not(:disabled):focus ~ &:before {
    box-shadow: 0 0 0 3px var(--color-blue-30);

    /* Box shadows don't show up in high contrast mode, we're adding a transparent outline (which does show up). */
    outline: 2px dotted transparent;
  }

  /**
   * Browsers will ignore the entire block when using a pseudo-class they don’t understand/support
   */
  .cc-radio-input__input-element:not(:disabled):focus:not(:focus-visible)
  ~ &:before {
    // undo all the above focused styles
    box-shadow: none;
  }

  .cc-radio-input__input-element:not(:disabled):focus-visible ~ &:before {
    box-shadow: 0 0 0 3px var(--color-blue-30);
  }

  // Disabled
  .cc-radio-input__input-element:disabled ~ &:before {
    background-color: var(--color-grey-05);
    border: 1px solid var(--color-grey-20);
  }

  .cc-radio-input__input-element:disabled ~ & {
    color: var(--color-grey-30);
    cursor: default;
  }
}
